extends ../layout

block content
  h3 Create a new job

  p In this section, you will create a new job. Fill in the following form and hit start job.
  p &nbsp;

  form.form-horizontal(action="/jobs/create", method="post")
    if errors
      div.alert.alert-block
        != errors

    div.control-group
      label.control-label(for="job_name") jobname:
      div.controls
        input.input-xlarge(id="job_name", type="text", value=req.job_name || '', placeholder="what's the jobname?", name="job_name")
    div.control-group
      label.control-label(for="wait") waittime:
      div.controls
        div.input-append
          input.input-xlarge(id="wait", type="text", value=req.wait || '', placeholder="what is the wait-time between request?", name="wait")
          span.add-on msec
    div.control-group
      label.control-label(for="repeat") repeats:
      div.controls
        div.input-append
          input.input-xlarge(id="repeat", type="text", value=req.repeat || '', placeholder="how many repeats for each request?", name="repeat")
          span.add-on times
    div.control-group
      div.controls
        label.checkbox 
          input(id="scripttags", type="checkbox", name="scripttags", value="1", checked=req.scripttags) 
          Count Count the amount of scripttags?
    div.control-group
      div.controls
        label.checkbox
          input(id="iframess", type="checkbox", name="iframes", value="1", checked=req.iframes) 
          Count Count the amount of iframes?
    div.control-group
      label.control-label(for="urls") urls:
      div.controls
        textarea(id="urls", rows="4", cols="5", style="width:317px", name="urls")
          = req.urls || ''
    div.control-group
      div.controls
        button.btn(type="submit") create new job!

